.BreweryDetail {
    display: flex;
    flex-direction: column;

    padding: 2rem;
    margin-top: 2rem;

    background-color: rgb(255, 158, 56);
    border-radius: 1rem;
    box-shadow: -.3rem .6rem 3px #00000008;
}

.BreweryDetail--type {
    margin: -2rem 0 0 0;
    align-self: flex-start;

    padding: .5rem;
    background-color: rgb(58, 32, 5);
    color: white;

}

.BreweryDetail--address{
    margin: 0;
    line-height: 1.5;
}

.BreweryDetail--phone,
.BreweryDetail--website
{
    margin-top: 1rem;
    color: black;
    transition: color .2s ease-out;
    &:hover{
        color: white;
    }
}
